<!--<div class="writer-nav">
    <div class="scrollbar">
        <div class="track">
            <div class="thumb">
                <div class="end">
                </div>
            </div>
        </div>
    </div>
    <div class="viewport">
        <div class="overview">
            <ul id="sortable" class="ui-sortable">
                <!-- Test Data -->
                <!--<li class="ui-state-default"><div class="writer-nav-node" id="Chapter 1" onclick="CKupdate(); CKeditorSetText('Chapter 1')"><span class="node-status"></span><p>Chapter 1</p></div></li>
                <li class="ui-state-default"><div class="writer-nav-node" id="Chapter 2" onclick="CKupdate(); CKeditorSetText('Chapter 2')"><span class="node-status"></span><p>Chapter 2</p></div></li>
                <li class="ui-state-default"><div class="writer-nav-node" id="Kitsune" onclick="CKupdate(); CKeditorSetText('Kitsune')"><span class="node-status"></span><p>Kitsune</p></div></li>
                <li class="ui-state-default"><div class="writer-nav-node" id="Test 1" onclick="CKupdate(); CKeditorSetText('Test 1')"><span class="node-status"></span><p>Test 1</p></div></li>
                <li class="ui-state-default"><div class="writer-nav-node" id="Test 2" onclick="CKupdate(); CKeditorSetText('Test 2')"><span class="node-status"></span><p>Test 2</p></div></li>
                <li class="ui-state-default"><div class="writer-nav-node" id="Test 3" onclick="CKupdate(); CKeditorSetText('Test 3')"><span class="node-status"></span><p>Test 3</p></div></li>
                <li class="ui-state-default"><div class="writer-nav-node" id="Test 4" onclick="CKupdate(); CKeditorSetText('Test 4')"><span class="node-status"></span><p>Test 4</p></div></li>
                <li class="ui-state-default"><div class="writer-nav-node" id="Test 5" onclick="CKupdate(); CKeditorSetText('Test 5')"><span class="node-status"></span><p>Test 5</p></div></li>
                <li class="ui-state-default"><div class="writer-nav-node" id="Test 6" onclick="CKupdate(); CKeditorSetText('Test 6')"><span class="node-status"></span><p>Test 6</p></div></li>
                <li class="ui-state-default"><div class="writer-nav-node" id="Test 7" onclick="CKupdate(); CKeditorSetText('Test 7')"><span class="node-status"></span><p>Test 7</p></div></li>
                <li class="ui-state-default"><div class="writer-nav-node" id="Test 8" onclick="CKupdate(); CKeditorSetText('Test 8')"><span class="node-status"></span><p>Test 8</p></div></li>
                <li class="ui-state-default"><div class="writer-nav-node" id="Test 9" onclick="CKupdate(); CKeditorSetText('Test 9')"><span class="node-status"></span><p>Test 9</p></div></li>
                <li class="ui-state-default"><div class="writer-nav-node" id="Test 10" onclick="CKupdate(); CKeditorSetText('Test 10')"><span class="node-status"></span><p>Test 10</p></div></li>
                <li class="ui-state-default"><div class="writer-nav-node" id="Test 11" onclick="CKupdate(); CKeditorSetText('Test 11')"><span class="node-status"></span><p>Test 11</p></div></li>
                <li class="ui-state-default"><div class="writer-nav-node" id="Test 12" onclick="CKupdate(); CKeditorSetText('Test 12')"><span class="node-status"></span><p>Test 12</p></div></li>
                <li class="ui-state-default"><div class="writer-nav-node" id="Test 13" onclick="CKupdate(); CKeditorSetText('Test 13')"><span class="node-status"></span><p>Test 13</p></div></li>
                <li class="ui-state-default"><div class="writer-nav-node" id="Test 14" onclick="CKupdate(); CKeditorSetText('Test 14')"><span class="node-status"></span><p>Test 14</p></div></li>
                <li class="ui-state-default"><div class="writer-nav-node" id="Test 15" onclick="CKupdate(); CKeditorSetText('Test 15')"><span class="node-status"></span><p>Test 15</p></div></li>
                <li class="ui-state-default"><div class="writer-nav-node" id="Test 16" onclick="CKupdate(); CKeditorSetText('Test 16')"><span class="node-status"></span><p>Test 16</p></div></li>
                <li class="ui-state-default"><div class="writer-nav-node" id="Test 17" onclick="CKupdate(); CKeditorSetText('Test 17')"><span class="node-status"></span><p>Test 17</p></div></li>
                <li class="ui-state-default"><div class="writer-nav-node" id="Test 18" onclick="CKupdate(); CKeditorSetText('Test 18')"><span class="node-status"></span><p>Test 18</p></div></li>
                <!-- End test data -->
                <!-- todo: Write up function to serve up test data -->

                <!-- <?php
                $queries = new Queries;
                $queries->GetTreeNodes($username,"Kitsune");
                /* $_SESSION['username'] = "linkmaster";*/
                $_SESSION['project'] = "Kitsune";
                ?>-->
            <!--</ul>
        </div>
    </div>
</div>-->

<form action="save.php" id="plotform" method="post">
    <textarea id="editor" name="editor" ng-vaue="content"></textarea>
</form>